In [1]:
import matplotlib.pyplot as plt
import matplotlib.lines as lines
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import root_mean_squared_error
import os, io

%matplotlib inline


plt.rcParams.update({'figure.figsize': (12.0, 8.0)})
plt.rcParams.update({'font.size': 14})

In [2]:
#from google.colab import drive
#drive.mount('/content/drive/')

In [3]:
train = pd.read_csv("train2.csv")

C:\Users\abdik\AppData\Local\Temp\ipykernel_33052\3763468324.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("train2.csv")

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20627688 entries, 0 to 20627687
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   User_ID         int64
 1   Rating          int64
 2   Movie_ID        int64
 3   Year            float64
 4   isAdult         bool
 5   startYear       float64
 6   runtimeMinutes  float64
 7   genres          object
 8   movie           bool
 9   short           bool
 10  tvEpisode       bool
 11  tvMiniSeries    bool
 12  tvMovie         bool
 13  tvSeries        bool
 14  tvSpecial       bool
 15  video           bool
dtypes: bool(9), float64(3), int64(3), object(1)
memory usage: 1.2+ GB

In [5]:
genres_encoded = train.genres.str.get_dummies(sep=',')

In [6]:
result=pd.concat([train,genres_encoded],axis=1)

In [ ]:
#commented code below works but is extremely slow and does everything by hand (last resort measure)

In [ ]:
#movies = pd.read_csv("/content/drive/MyDrive/CMPE256/256_project/potential_256_dataset.csv")
#movies = movies['genres']
#genre_master=[]
#for index,row in enumerate(movies):
#    temp = str(row).split(',')
#    for i in temp:
#        if i not in genre_master:
#            genre_master.append(i)

In [ ]:
#for i in genre_master:
#    train[i]=False

In [ ]:
#train.info()

In [ ]:
#for i in range(len(train)):
#    temp = str(train.loc[i,'genres']).split(',')
#    for j in temp:
#        train.loc[i,j]=True
#    del temp

In [9]:
result

,User_ID,Rating,Movie_ID,Year,isAdult,startYear,runtimeMinutes,genres,movie,short,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,712664,5,3,1997.0,False,1997.0,122.0,"Crime,Drama,Mystery",True,False,...,0,0,0,0,0,0,0,0,0,0
1,1331154,4,3,1997.0,False,1997.0,122.0,"Crime,Drama,Mystery",True,False,...,0,0,0,0,0,0,0,0,0,0
2,2632461,3,3,1997.0,False,1997.0,122.0,"Crime,Drama,Mystery",True,False,...,0,0,0,0,0,0,0,0,0,0
3,44937,5,3,1997.0,False,1997.0,122.0,"Crime,Drama,Mystery",True,False,...,0,0,0,0,0,0,0,0,0,0
4,656399,4,3,1997.0,False,1997.0,122.0,"Crime,Drama,Mystery",True,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20627683,520675,3,4496,1993.0,False,1993.0,171.0,"Drama,Music,Romance",True,False,...,0,0,1,0,0,0,0,0,0,0
20627684,1055714,5,4496,1993.0,False,1993.0,171.0,"Drama,Music,Romance",True,False,...,0,0,1,0,0,0,0,0,0,0
20627685,2643029,4,4496,1993.0,False,1993.0,171.0,"Drama,Music,Romance",True,False,...,0,0,1,0,0,0,0,0,0,0
20627686,1559566,3,4496,1993.0,False,1993.0,171.0,"Drama,Music,Romance",True,False,...,0,0,1,0,0,0,0,0,0,0
20627687,293198,3,4496,1993.0,False,1993.0,171.0,"Drama,Music,Romance",True,False,...,0,0,1,0,0,0,0,0,0,0

In [14]:
result.columns

Index(['User_ID', 'Rating', 'Movie_ID', 'Year', 'isAdult', 'startYear',
       'runtimeMinutes', 'genres', 'movie', 'short', 'tvEpisode',
       'tvMiniSeries', 'tvMovie', 'tvSeries', 'tvSpecial', 'video', 'Action',
       'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History',
       'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV',
       'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [41]:
result['Western'] = result['Western'].astype('bool')

In [44]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20627688 entries, 0 to 20627687
Data columns (total 42 columns):
 #   Column          Dtype
---  ------          -----
 0   User_ID         int64
 1   Rating          int64
 2   Movie_ID        int64
 3   Year            float64
 4   isAdult         bool
 5   startYear       float64
 6   runtimeMinutes  float64
 7   movie           bool
 8   short           bool
 9   tvEpisode       bool
 10  tvMiniSeries    bool
 11  tvMovie         bool
 12  tvSeries        bool
 13  tvSpecial       bool
 14  video           bool
 15  Action          bool
 16  Adult           bool
 17  Adventure       bool
 18  Animation       bool
 19  Biography       bool
 20  Comedy          bool
 21  Crime           bool
 22  Documentary     bool
 23  Drama           bool
 24  Family          bool
 25  Fantasy         bool
 26  Film-Noir       bool
 27  History         bool
 28  Horror          bool
 29  Music           bool
 30  Musical         bool
 31  Mystery         bool
 32  News            bool
 33  Reality-TV      bool
 34  Romance         bool
 35  Sci-Fi          bool
 36  Short           bool
 37  Sport           bool
 38  Talk-Show       bool
 39  Thriller        bool
 40  War             bool
 41  Western         bool
dtypes: bool(36), float64(3), int64(3)
memory usage: 1.6 GB

In [43]:
result=result.drop(columns=['genres'])

In [45]:
result.to_csv('train3.csv',index=False)