In [1]:
import matplotlib.pyplot as plt
import matplotlib.lines as lines
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import root_mean_squared_error
import os, io
import torch

%matplotlib inline

import movie_sim

plt.rcParams.update({'figure.figsize': (12.0, 8.0)})
plt.rcParams.update({'font.size': 14})

In [2]:
data = pd.read_csv('train_umr.csv')

In [3]:
movies_orig = pd.read_csv('movies_encoded.csv')

In [4]:
movies = movies_orig.loc[:, movies_orig.columns != 'Name']

In [5]:
from surprise import Dataset
from surprise import Reader
from surprise import SVD

In [6]:
reader = Reader(rating_scale=(1,5))

In [7]:
train,test=movie_sim.sample_new_data(data,movies,712664)

317  retrieved movies for the user
finding similar movies...
291  similar unwatched movies found
retrieving new data
0  movies out of 291 done
current new data entries: 0
100  movies out of 291 done
current new data entries: 161502
200  movies out of 291 done
current new data entries: 206294

In [8]:
algo = SVD(n_factors=22, reg_all=0.1,n_epochs=20)

In [9]:
train=data=Dataset.load_from_df(train,reader)

In [10]:
train=train.build_full_trainset()

In [11]:
algo.fit(train)

In [12]:
for i in range(0,len(test)):
    test.loc[i,"Rating"]= algo.test([test.loc[i].to_list()])[0].est

In [13]:
rec=test.sort_values(by='Rating',ascending=False).head(10)

In [14]:
rec

    User_ID Movie_ID    Rating
18   712664      825  4.114617
63   712664     2144  4.095586
69   712664     2371  4.073092
96   712664     3276  3.947545
118  712664     4135  3.894739
9    712664      281  3.823216
68   712664     2326   3.81596
58   712664     2015  3.812903
74   712664     2525  3.771978
112  712664     3826  3.740573

In [15]:
pd.merge(rec,movies_orig[['Movie_ID','Name']],on='Movie_ID')

  User_ID Movie_ID    Rating                                    Name
0  712664      825  4.114617                     Bill Cosby: Himself
1  712664     2144  4.095586  VeggieTales: Dave and the Giant Pickle
2  712664     2371  4.073092                        To Catch a Thief
3  712664     3276  3.947545                             Cry Freedom
4  712664     4135  3.894739                          The King and I
5  712664      281  3.823216                              The Legend
6  712664     2326   3.81596                     The Laramie Project
7  712664     2015  3.812903                             Talk to Her
8  712664     2525  3.771978                      Sullivan's Travels
9  712664     3826  3.740573                      Music of the Heart